<h2 class="text-center my-4"><i class="fa fa-users"></i> Create user</h2>
<!--<h1 *ngIf="roles.length > 0">{{ roles[0].name }}</h1>-->
<div *ngIf="roles.length === 0">No roles available</div>
<div class="form-container container">
  <div class="form-group mb-3">
    <label for="new-user-firstname">First Name: </label>
    <input id="new-user-firstname" #userFirstName class="form-control" />
  </div>

  <div class="form-group mb-3">
    <label for="new-user-lastname">Last Name: </label>
    <input id="new-user-lastname" #userLastName class="form-control" />
  </div>

  <div class="form-group mb-3">
    <label for="new-user-login">Login: </label>
    <input id="new-user-login" #userLogin class="form-control" />
  </div>

  <div class="form-group mb-3">
    <label for="new-user-password">Password: </label>
    <input id="new-user-password" type="password" #userPassword class="form-control" />
  </div>

  <div class="form-group mb-3">
    <label for="new-user-email">Email: </label>
    <input id="new-user-email" type="email" #userEmail class="form-control" />
  </div>
  
  <div class="form-group mb-3">
    <label for="userRole">Role:</label>
    <select id="userRole" [(ngModel)]="selectedRole" name="role" required>
      <option [ngValue]="null" disabled selected>-- Select role --</option>
      <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
    </select>
  </div>
  

  <button type="button" class="btn btn-primary" (click)="add(userFirstName.value, userLastName.value, userLogin.value, userPassword.value, userEmail.value, selectedRole.id, false)">
    Add User
  </button>
</div>