<div class="sign-container">
  <h2><i class="fa fa-user-plus"></i> Registration</h2>
  <form (ngSubmit)="addNewUser()">
    <div class="form-group mb-3">
      <label for="new-user-firstname">First Name:</label>
      <input
        type="text"
        id="new-user-firstname"
        [(ngModel)]="firstName"
        name="firstName"
        required
        class="form-control"
      />
    </div>
    <div class="form-group mb-3">
      <label for="new-user-lastname">Last Name:</label>
      <input
        type="text"
        id="new-user-lastname"
        [(ngModel)]="lastName"
        name="lastName"
        required
        class="form-control"
      />
    </div>
    <div class="form-group mb-3">
      <label for="userName">Login:</label>
      <input
        type="text"
        id="userName"
        [(ngModel)]="username"
        name="userName"
        required
        class="form-control"
      />
    </div>
    <div class="form-group mb-3">
      <label for="userPassword">Password:</label>
      <input
        type="password"
        id="userPassword"
        [(ngModel)]="password"
        name="userPassword"
        required
        class="form-control"
      />
    </div>
    <div class="form-group mb-3">
      <label for="userEmail">Email:</label>
      <input
        type="email"
        id="userEmail"
        [(ngModel)]="email"
        name="userEmail"
        required
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Register</button>
  </form>
  <div *ngIf="registrationSuccess" class="alert alert-success">
    Registration was successful!
  </div>
  <div *ngIf="registrationFailed" class="alert alert-danger">
    Registration failed. Please try again.
  </div>
</div>
