<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>User Management</h2>
    <button class="btn btn-primary" [routerLink]="['/add-user']">
      <i class="fa fa-plus"></i> Add New User
    </button>
  </div>

  <ul class="list-group mt-4">
    <li *ngFor="let user of users" 
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        [routerLink]="['/detail/', user.id]">
      <div class="user-info d-flex align-items-center">
        <!--<i class="badge bg-primary rounded-pill me-2">{{ user.id }}</i>-->
        <i class="fas fa-user-circle me-2 text-primary"></i> 
        <span class="text-primary">{{ user.firstName }} {{ user.lastName }}</span>
      </div>
  
      <div class="user-actions d-flex">
        <button *ngIf="!user.isBanned" type="button" 
                class="btn btn-warning btn-sm me-1" 
                title="Ban User" 
                (click)="banUser(user); $event.stopPropagation()">
          <i class="fas fa-lock"></i>
          <!--<i class="fa fa-ban"></i>--> Ban
        </button>

  
        
        <button *ngIf="user.isBanned" type="button" class="btn btn-success btn-sm me-1" 
                title="Unban User" 
                (click)="unbanUser(user); $event.stopPropagation()">
                <i class="fas fa-lock-open"></i> Unban
        </button>
        

        <button class="btn btn-outline-danger btn-sm" 
        title="Delete User" 
        (click)="delete(user); $event.stopPropagation()">Delete
          <i class="fas fa-user-slash"></i>
        </button>
        <!--
        <button type="button" class="btn btn-danger btn-sm" 
                title="Delete User" 
                (click)="delete(user); $event.stopPropagation()">
          <i class="fa fa-trash"></i> Delete
        </button>
        -->
      </div>
    </li>
  </ul>
  
</div>
