.form-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  margin-bottom: 20px;
}


.form-group label {
 font-weight: bold;
 
}
input{
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item a {
  display: flex;
  align-items: center;
  color: #000;
}

.list-group-item .badge {
  margin-right: 10px;
}
