<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>User Management</h2>
    <button class="btn btn-primary" [routerLink]="['/add-user']">
      <i class="fa fa-plus"></i> Add New User
    </button>
  </div>

  <ul class="list-group mt-4">
    <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
      <div class="user-info d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-2">{{user.id}}</span>
        <a routerLink="/detail/{{user.id}}" class="text-decoration-none text-dark">
          {{user.firstName}} {{user.lastName}}
        </a>
      </div>

      <div class="user-actions d-flex">
        <button *ngIf="!user.isBanned" type="button" class="btn btn-warning btn-sm me-1" title="Ban User" (click)="banUser(user)">
          <i class="fa fa-ban"></i> Ban
        </button>
        <button *ngIf="user.isBanned" type="button" class="btn btn-success btn-sm me-1" title="Unban User" (click)="unbanUser(user)">
          <i class="fa fa-check"></i> Unban
        </button>
        <button type="button" class="btn btn-danger btn-sm" title="Delete User" (click)="delete(user)">
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </li>
  </ul>
</div>
